.formContainer {
  padding: 1.5rem;
  background-color: var(--background-light);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem 1.5rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputGroup label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-secondary);
}

.inputGroup input {
  padding: 8px 12px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-color: var(--background-main);
}

.submitButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.2s;
  align-self: flex-end; /* Alinear a la derecha */
}

.submitButton:hover:not(:disabled) {
  background-color: var(--primary-color-dark);
}

.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}