
.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0rem;
  margin-top: -22px;
}

.addButton {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.2s;
}


.balanceCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.card {
  /* Estilos para que coincida con la tabla */
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-border);
  border-radius: 8px; /* Mismo borde que el tableWrapper */
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cardTitle {
  font-size: 1rem;
  color: var(--text-secondary);
}

.cardAmount {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-primary);
}

.tableSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}